
.calculate__field {
    height: auto;
    padding: 8px 0;
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21em;
    letter-spacing: 0.04em;
    /* color: var(--text); */
    border: none;
    border-bottom: 1px solid var(--form-input);
    background-color: #F0F1F3;
    /* text-align: center; */
}

@media screen and (min-width: 768px) {
    .calculate__container {
      font-size: 34px;
      line-height: 41px;
      width: 640px;
      padding-bottom: 45px;
      height: 100%;
      
    }
    .main__container{
       display: block; 
    }

    

}
.titles{
    
    padding-left: 25px;

}

.titles, ul{
    list-style-type: none;
    width: 280px;
    padding-left: 25px;
    line-height: 41px;
}

.summary__ul li{
    display: flex;
    justify-content: space-between;
    width: 280px;
    color: var(--text);

}

.food{
    color: var(--text);
}

/* -- table  */

@media screen and (min-width: 768px) { /* tablet */
    .calculate__container {
    
      width:100%;
      height: 100%;
      padding: 0;
     
    }
    .calculate__field{
        display: flex;
        gap: 30px;
    }

}
/* 
@media screen and (min-width: 1024px) {
    .calculate__container {
      width: 640px;
      padding: 0 15px 110px;
      position: absolute;
      top:0%
    }
  }  */

  @media screen and (min-width: 1024px){  /* 1024 */

    .main__container div{
          /* display: flex; */
          /* height: 850px; */
          height: 100%;
          
      }
    .main__container {
        display: flex;
        width: 100%;
        
    }
    .calculate__field{
        display: flex;
        flex-direction: column;
        gap: 0;

    }

    .calculate__field div{
        display: flex;
        flex-direction: column;
      /*  w idth: 517px; */
        height: 100%;
        align-items: center;
        
    }
    .calculate__field{
        height: 650px;
        display: flex;
    }
    .calculate__container{
        margin-bottom: -300px;
    }
    @import "../assets/styles/colors.css";
    .calculate__field__summary_food,
    .calculate__field__summary{
    background-color: #F0F1F3;
    width: 350px;
    display: flex; 
    justify-content: center;
    
}
    .calculate__field{
        background-color: white;
        display: flex;
        align-items: flex-end;
        border-block-color: white;
    }
    .calculate__field__summary_food{
        padding-bottom: 70%;
    }
  }