.backgroundCalculate__container {
    display: none;
    overflow: hidden;
  }
  
  @media screen and (min-width: 768px) {
   /*  .backgroundCalculate__container {
      display: block;

    } */
    .backgroungCalculate__leavesTablet {
      position: absolute;
      height: auto;
      top: 479px; 
      z-index: 1000;
      right: 0;
      bottom: 0;
    }
  /*   .backgroung__leavesTablet {
      
  } */
  }
  
  @media screen and (min-width: 768px) {
    .backgroungCalculate__leaves{
        display: none;
    }
    }

  @media screen and (min-width: 1024px) {
    .backgroungCalculate__leavesTablet{
      display: none;
    }

 /*    .backgroungCalculate__leaves{
      display: block;
  } */
  }

      
 @media screen and (min-width: 1024px) {
  .backgroundCalculate__container {
    display: block;
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;

  }
    .backgroung__leaves {
        position: absolute;
        width: 531px;
        top: 320px;
        right: 250px;
        bottom: 0;
          }
 }


