.logetlo {
  margin-top: 100px;
  margin-left: 20px;
}

.logbtn {
  margin-left: 170px;
  display: flex;
  margin-top: -20px;
  margin-left: 200px;
}

.btnDi {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #9b9faa;
  text-decoration: none;
}

.btnDi:hover {
  color: #212121;
  cursor: pointer;
}

.btnCal {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #9b9faa;
  text-decoration: none;
  margin-left: 20px;
}

.btnCal:hover {
  color: #212121;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    border-bottom: 2px solid #e0e0e0;
    width: 780px;
    margin-top: -90px;
  }

  .logetlo {
    margin-bottom: 5px;
    margin-left: 40px;
    margin-top: 90px;
  }

  .logbtn {
    display: none;
  }
}
