 .menuContainer {
     display: none;

 }

@media (min-width: 1024px) {

    .username {
            color: #212121;
            font-family: Verdana;
            font-size: 12px;
            font-weight: 700;
            line-height: 17.01px;
            letter-spacing: 0.04em;
            text-align: right;
            display: flex;
            text-decoration: none;
            margin: 0;
            padding-right: 32px;
        }
    
        .logout {
            color: #9b9faa;
            font-family: Verdana;
            font-size: 12px;
            font-weight: 700;
            line-height: 17.01px;
            letter-spacing: 0.04em;
            text-align: right;
            display: flex;
            text-decoration: none;
            cursor: pointer;
            margin: 0;
        }
    
        .menuContainer {
            width: 420px;
            display: flex;
            padding: 15px;
            background-color: #EFF1F3;
            justify-content: center;
    
        }
    
        
    


}

