* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal {
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0,0,0,50%);
    display: none;
    justify-content: center;
    align-items: center;
}

.isopen{
    display: flex;

}

.modcontainer {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    max-width: 672px;
    max-height: 574px;
    overflow-y: auto;
    box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.1);
    padding: 8%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.modalclose{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.startlose {
    width: 210px;
    height: 43px;
    gap: 10px;
    border-radius: 30px;
    opacity: 0px;
    background-color: rgba(252, 132, 45, 1);
    box-shadow: 0px 4px 10px 0px rgba(252, 132, 45, 0.5);
    color: white;
    border: none;
    font-weight: 700;
}

.titlemodal {
    width: 508px;
    height: 70px;
    font-family: Verdana;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}