/* General styles */

.headercontaineer {
  border-bottom: 2px solid #e0e0e0;
  width: 320px;
  top: 80px;
}

.mom {
  width: 52.51px;
  height: 15.41px;
  top: 33.06px;
  left: 141.79px;
  gap: 0px;
  opacity: 0px;
  color: #fc842d;
}

.buttonLogin {
  color: #9b9faa;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.01px;
  letter-spacing: 0.04em;
  text-align: right;
}

.buttonLogin:hover {
  color: #212121;
  cursor: pointer;
}

.userInfo {
  font-weight: 700;
  line-height: 17.01px;
}

.buttonLogout {
  font-weight: 700;
  line-height: 17.01px;
  background: none;
  border: none;
  margin-top: -3px;
  color: #9b9faa;
}

.buttonLogout:hover {
  color: #212121;
  cursor: pointer;
}

.menuButton {
  background: none;
  border: none;
}

/* Mobile styles */
@media (max-width: 768px) {
  .headercontaineer {
    border-bottom: 2px solid #e0e0e0;
    width: 325px;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -16px;
  }

  .slimMon {
    display: none;
  }

  .logo {
    width: 46px;
    height: 44px;
    margin-left: 0px;
  }

  .sectionRegister {
    gap: 50px;
    display: flex;
    margin-left: 40px;
  }

  .buttonLogin {
    background: none;
    border: none;
    margin-left: -8px;
  }

  .buttonLogout {
    display: none;
  }

  .menuButton {
    display: inline-block;
  }
  .userInfo {
    display: none;
  }
}

/* Tablet styles */

@media (min-width: 769px) and (max-width: 1024px) {
  .headercontaineer {
    width: 769px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4px;
    margin-left: -16px;
  }

  .sectionRegister {
    display: flex;
    margin-left: 60px;
  }

  .buttonLogin {
    margin-left: 15px;
    background: none;
    border: none;
  }

  .logo {
    width: 46.67px;
    height: 44px;
    margin-left: 12px;
  }
  .slimMon {
    display: flex;
    margin-left: -154px;
  }

  .slim {
    width: 47.2px;
    color: #212121;
  }

  .mom {
    width: 52.51px;
    color: orange;
    margin-left: -12px;
  }

  .userInfo {
    display: inline-block;
    margin-right: 10px;
  }

  .menuButton {
    display: inline-block;
  }
}

/* Destock styles */
@media (min-width: 1025px) {
  .headercontaineer {
    border-bottom: none;
    display: flex;
    max-width: 300px;
    align-items: center;
    justify-content: space-around;
    margin-top: 82px;
  }

  .logo {
    width: 70.25px;
    height: 66px;
    margin-top: 70.25px;
    margin-left: 20px;
    cursor: pointer;
  }

  .slimMon {
    display: flex;
    margin-top: 105px;
    margin-left: -10px;
  }

  .mom {
    width: 53.6px;
    height: 15.67px;
    top: 127px;
    left: 129.4px;
  }

  .sectionRegister {
    display: flex;
    gap: 15px;
    margin-top: 110px;
    margin-left: 10px;
  }

  .userInfo {
    background: #212121;
  }

  .buttonLogin {
    background: none;
    border: none;
  }
}
