.diaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: auto; /*Se modifico para una mejor adaptacion*/
  margin-top: 50px; /*Se modifico para una mejor adaptacion*/
} 

.calendarSection,
.foodListSection,
.summarySection {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}



.foodListSection {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto;
  /* height: 100vh; Se modifico porque sobrepasa la altura con el otro componente*/
  height: auto;
  width: 80%;
}

.summarySection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


